<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Vue events</title>
    <link rel="icon" href="https://oss.100ali.com/icon/ico-pp.ico" />
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h4>BUTTON</h4>
    <div id="app-1">
      <button @click="counter += 1">{{ counter }}</button>
      <button @click="alert">counter</button>
      <button @click.prevent="click">click</button>
      <button @click="params('hi')">params</button>
      <button @click="eventparams('hi', $event)">eventparams</button>
      <button @click.once="eventmodifier">eventmodifier</button>
      <br />
      <!--34. 系统修饰符：分为按键修饰符和鼠标修饰符，Vue 允许为 v-on 在监听键盘事件时添加按键修饰符：@keyup.delete / keydown.left（exact：没有任何系统修饰符）-->
      <input
        @keyup.delete.exact="alert"
        @keydown.left="params('left')"
        @keyup.shift="params('shift + other')"
        @keydown.17="params('ctrl')"
        placeholder="按键修饰符"
      /><br />
    </div>

    <script>
      new Vue({
        el: '#app-1',
        data: {
          counter: 0
        },
        methods: {
          alert: function() {
            alert('counter = ' + this.counter)
          },
          // 事件默认传入event
          click: function(event) {
            alert(event.target.tagName)
          },
          params: function(params) {
            alert(params)
          },
          //有时也需要在内联语句处理器中访问原始的 DOM 事件。可以用特殊变量 $event 把它传入方法：
          eventparams: function(params, event) {
            // 现在我们可以访问原生事件对象
            if (event) event.preventDefault()
            alert(params + ' - ' + event.target.tagName)
          },
          eventmodifier: function() {
            alert('once 事件修饰符，仅仅调用一次')
          }
        }
      })
    </script>
    <br />
    <hr />
    <h4>INPTU</h4>
    <!--33. 事件修饰符：如prevent可以阻止表单提交。有些修饰符可以连用，注意顺序很重要；.passive 修饰符尤其能够提升移动端的性能：<div v-on:scroll.passive="onScroll">...</div>-->
    <div id="app-2" v-on:scroll.passive="onScroll">
      <label>Message is: {{ message }}</label
      ><br />
      <input v-model="message" placeholder="edit me" /><br /><br />
      <label style="white-space: pre-line;"
        >Multiline message is: {{ multiline }}</label
      ><br />
      <textarea v-model="multiline" placeholder="add multiple lines"></textarea>
      <p>复选框：</p>
      <input type="checkbox" v-model="isSeleted" />
      <label>{{ isSeleted }}</label
      ><br />
      <p>arr: {{ checkedNames }}</p>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
      <label>jack</label>&nbsp;
      <input type="checkbox" id="john" value="john" v-model="checkedNames" />
      <label>john</label>&nbsp;
      <input type="checkbox" id="mike" value="mike" v-model="checkedNames" />
      <label>mike</label>
      <p>picked: {{ picked }}</p>
      <input type="radio" id="one" value="one" v-model="picked" />
      <label>one</label>&nbsp;
      <input type="radio" id="two" value="two" v-model="picked" />
      <label>two</label>&nbsp;
      <input type="radio" id="three" value="three" v-model="picked" />
      <label>three</label>
      <p>Seleted: {{ seleted }}</p>
      <select v-model="seleted">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <!--手机端是多选，pc上单选-->
      <p>seletedArr: {{ seletedArr }}</p>
      <select v-model="seletedArr" multiple>
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <p>v-for + v-bind: {{ vforSeleted }}</p>
      <select v-model="vforSeleted">
        <template v-for="option of options" v-if="option.isdefault">
          <option disabled="option.isdefault" v-bind:value="option.val">{{
            option.txt
          }}</option>
        </template>
        <template v-else>
          <option v-bind:value="option.val">{{ option.txt }}</option>
        </template>
      </select>
      <!--38. 复选框绑定字符串：可设置 true-value 和 false-value 的值，该特性并不会影响输入控件的 value 特性，因为浏览器在提交表单时并不会包含未被选中的复选框。— 单选框会提交-->
      <p>修改默认值：</p>
      <input
        type="checkbox"
        v-model="toggle"
        true-value="yes"
        false-value="no"
      />
      <label>{{ toggle }}</label
      >&nbsp;&nbsp;
      <button @click="modify">modify</button>
      <!--v-bind:value可简写为 :value，是实现单向数据绑定，即数据变更UI会更新，但UI修改不会变更数据，v-model实现的数据和UI的双向绑定（可绑定对象，通过点语法访问key）-->
      <input type="radio" v-model="pick.pick" v-bind:value="pick.a" />
      <button @click="value">value</button>
      <!--40. 复选框/单选框/下拉框，可同时绑定v-model和 :value，:value可绑定内联对象的属性，如下拉框可用v-model绑定对象，其选项option可用 :value绑定单向绑定属性，选中还可做修改-->
      <select v-model="sel">
        <option disabled>please seleted</option>
        <option v-bind:value="{ number: 123 }">123</option>
      </select>
      <button @click="val">val</button>
      <p>修饰符:</p>
      <label>modifier: {{ modifier }}</label
      ><br />
      <input
        v-model.lazy.number.trim="modifier"
        placeholder="v-model.lazy.number.trim"
      />
    </div>

    <script>
      // v-model 会忽略所有表单元素的 value、checked、selected 特性的初始值而总是将 Vue 实例的 数据作为数据来源。你应该通过 JavaScript 在组件的 data 选项中声明初始值。
      new Vue({
        el: '#app-2',
        data: {
          message: null,
          multiline: null,
          isSeleted: false,
          isSeleted2: false,
          checkedNames: [],
          picked: 'one',
          // 36. 绑定下拉框：如果 v-model 表达式的初始值未能匹配任何选项，<select>将被渲染为“未选中”状态。在iOS中，若用户不滑动picker直接点击完成，这会无法选择第一个选项。因为这样的情况下，iOS不会触发change事件。因此，更推荐提供一个值为空的禁用选项。— 当然若能为seleted设置默认值就不会有这个问题。
          seleted: '',
          // 多选时 (绑定到一个数组) : sleted设置multiple，绑定数组可实现多选
          seletedArr: [],
          // 37. 表单绑定：v-model绑定的值通常是静态字符串(对于复选框也可以是布尔值)：还能用 v-bind把值绑定到 Vue 实例的一个动态属性上，并且这个属性的值可以不是字符串。+ v-for/v-if
          options: [
            {
              txt: '请选择',
              val: '0',
              isdefault: true
            },
            {
              txt: 'one',
              val: 'A'
            },
            {
              txt: 'two',
              val: 'B'
            },
            {
              txt: 'three',
              val: 'C'
            },
            {
              txt: 'four',
              val: 'D'
            }
          ],
          vforSeleted: '0',
          // 复选框绑定字符串
          toggle: 'yes',
          // 选中时，pick是双向绑定，a的单向绑定，因此选中后pick的值为a的值
          pick: {
            pick: 'please seleted',
            a: 'aaa'
          },
          // 选中后值为123
          sel: {
            number: 'please seleted'
          },

          modifier: ''
        },
        methods: {
          modify: function() {
            this.toggle = this.toggle == 'yes' ? 'no' : 'yes'
          },
          value: function() {
            alert(this.pick.pick)
          },
          val: function() {
            alert(this.sel.number)
          }
        }
      })
    </script>

    <br />
    <hr />
    <h2>自定义输入组件</h2>
    <label>详见：9-components，在组件上使用 v-model</label>
  </body>
</html>
